

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.add-car {
  background: #4caf50 !important;
  color: white !important;
}

.icon {
  font-size: medium !important;
}

.icon:hover {
  cursor: pointer
}

.text-gray {
  color: gray
}

.text-red {
  color: red
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.car-container {
  margin: 50px;
}

.logo {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  position: absolute;
  height: 100px;
  -webkit-box-shadow: 5px 10px 13px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 5px 10px 13px 0px rgba(0,0,0,0.15);
  box-shadow: 5px 10px 13px 0px rgba(0,0,0,0.15); 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 20px;
}

.logo > img {
  width: 150px;
  height: auto;
  position: relative;
  top: 8px;
  left: 2px;
}

.toolbar-header {
  position: relative;
  left: 200px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.login-form button{
  margin-top: 30px; 
  background-color: #d8303e !important;
}


.add-order-button {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.app-bar {
  background-image: linear-gradient(45deg, #025da1 30%, #04538f 30%, #04538f 50%, #025da1 50%, #025da1 80%, #04538f 80%, #04538f 100%);
  background-size: 7.07px 7.07px;
}